body
{
	background-color:white;
	font-family: 'Algeria', sans-serif;

}
.navbar
{
	background-color:black;
	padding:10px;
	
	
}
a
{
	color:white;
}

ul
{
	list-style-type: none;
	
}
#immagine
{
	padding-top:10px;
	padding:20px;
	padding-left:10px;
	
}

#ciao
{
	display:flex;
	flex-direction: row;
	justify-content: flex-and;
	flex-wrap: nowrap;
	align-items: stretch;
	
}

