body
{
	background-color:white;
	font-family: 'Algeria', sans-serif;
	
}
#nike
{
	color:white;
	
}
.navbar
{
	background-color:black;
	padding:10px;
	
	
}
a
{
	color:black;
}

ul
{
	list-style-type: none;
	
}
#immagine
{
	padding-top:10px;
	padding:20px;
	padding-left:10px;
	
	
}

#ciao
{
	display:flex;
	flex-direction: row;
	justify-content: flex-and;
	flex-wrap: nowrap;
	align-items: stretch;
	
}

body {
	margin: 0 auto;
}


.menu {
  width: 30%;
  float: left;
  padding: 15px;

  
}
.main {
  width: 30%;
  float: left;
  padding: 15px;
  
}

.main2 {
  width: 30%;
  float: left;
  padding: 15px;
  
  
}
.main3 {
  width: 30%;
  float: left;
  padding: 15px;
  
}
.fixed{
	
	position:fixed;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}


.zoomable { 
width: 300px; 
height: 400px; 
object-fit: cover; 
cursor: pointer; 
transition: transform 0.3s ease; 
display: block;
} 

.zoomed { 
transform: scale(1.2); 
}
